node_modules/
dist/
coverage/
.turbo/
.cache/
.vite/
*.tsbuildinfo

.DS_Store

.env
.env.*
!.env.example

packages/*/src/*.js
packages/*/src/*.js.map
packages/*/src/*.d.ts
packages/*/src/*.d.ts.map

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.idea/
.vscode/
